.navbar{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;
    padding: 1%;
}

.p-badge{
    min-width: 20px;
    height: 20px;
    line-height: 20px;
}

i{
    font-size: 20px !important;
    color: #000 !important;
    right: 1%;
    cursor: pointer;
}

