.favorites__container{
    padding: 5% 4%;
}

.container__detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 4%;
    // background-color: #F0A23B;
}

.card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0.5px 2px;
    border-width: 0;
    justify-content: center;
    cursor: pointer;
}

// Desktop settings
@media screen and (min-device-width: 1200px)  { 
    .card{
        width: 33%;
    }

    .btn__seemore{
        width: 30%;
    }
}

// Tablet settings
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 1199px) {
    .card{
        width: 48%;
    }
    .pkm__details{
        font-size: 1rem !important;
    }
}

// Other settings
@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 374px) {
    .card{
        width: 100%;
    }
    .pkm__details{
        font-size: 1rem !important;
    }
}